ul.moves {
    margin: .25em;
    padding: .25em;
    list-style-type: none;
}

li.move {
    display: inline;
}
li.move:after {
    content: " ";
}

span.number {
    color: #808080;
    display: none;
}
li.move.white > span.number:after {
    content: ".\00a0";
}
li.move.black > span.number:after {
    content: "...\00a0";
}
li.move.white > span.number {
    display: inline;
}

li.move.highlight > span.move {
    background: #ff0;
}
span.move {
    cursor: pointer;
}

li.move.white > span.number:after {
  content: ".\00a0";
}
li.move.black > span.number:after {
    content: "...\00a0";
}
li.move.home + li.move > span.number,
li.move.white > span.number,
ul.moves > li:first-child > span.number,
li.move.variations + li.move > span.number {
    display: inline;
}

span.comment {
  color: #008000;
}


ul.moves {
    margin: .25em;
    padding: .25em;
    list-style-type: none;
    background: #ffffff;
}
ol.variations {
    list-style-type: upper-latin;
    padding-left: 20px;
}
ol.variations ul.moves {
    background: #f0f0f0;
}
ol.variations ol.variations {
    list-style-type: upper-roman;
    font-size: small;
}
ol.variations ol.variations ul.moves {
    background: #ffffff;
}
ol.variations ol.variations ol.variations {
    list-style-type: lower-latin;
}
ol.variations ol.variations ol.variations ul.moves {
    background: #f0f0f0;
}
ol.variations ol.variations ol.variations ol.variations {
    list-style-type: lower-roman;
    font-size: x-small;
}
ol.variations ol.variations ol.variations ol.variations ul.moves {
    background: #ffffff;
}
ol.variations ol.variations ol.variations ol.variations ol.variations {
    list-style-type: lower-greek;
}
ol.variations ol.variations ol.variations ol.variations ol.variations ul.moves {
    background: #f0f0f0;
}
ol.variations ol.variations ol.variations ol.variations ol.variations ol.variations {
    list-style-type: circle;
    font-size: xx-small;
}
ol.variations ol.variations ol.variations ol.variations ol.variations ol.variations ul.moves {
    background: #ffffff;
}

ul.pgnheader {
    list-style-type: none;
}
ul.pgnheader label {
    display: block;
}
ul.pgnheader label span {
    color: #008000;
    font-weight: bold;
    width: 100px;
    float: left;
    text-align: right;
}
ul.pgnheader label span:not(:hover) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul.pgnheader label span:after {
    content: ":\00a0";
}
.result {
    font-weight: bold;
    text-align: center;
}
