cb-board {
    display: inline-block;
    border: 1px solid #404040;
    box-sizing: content-box;
    width: 480px;
    height: 480px;
}

cb-row:after {
    display: block;
    clear: both;
}
cb-row:nth-child(even) cb-square:nth-child(even) {
    background-color: #f0d9b5;
    color: #b58863;
}
cb-row:nth-child(even) cb-square:nth-child(odd) {
    background-color: #b58863;
    color: #f0d9b5;
}
cb-row:nth-child(odd) cb-square:nth-child(even) {
    background-color: #b58863;
    color: #f0d9b5;
}
cb-row:nth-child(odd) cb-square:nth-child(odd) {
    background-color: #f0d9b5;
    color: #b58863;
}

cb-square {
    float: left;
    position: relative;
    display: inline-block;
    user-select: none;
    width: 60px;
    height: 60px;
}

cb-square.destination {
    background-image: radial-gradient(rgba(20,85,30,0.3) 22%, #208530 0, rgba(0,0,0,0.3) 0, rgba(0,0,0,0) 0);
}
cb-square.destination:not(:empty) {
    background-image: radial-gradient(transparent 0%, transparent 80%, rgba(20,85,0,0.3) 80%);
}
cb-square.destination.hovering {
    background-image: linear-gradient(rgba(20,85,30,0.3), rgba(20,85,30,0.3));
    cursor: pointer;
}

cb-piece.ghost {
    opacity: 0.25;
}

cb-piece {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
}

cb-piece.white.king {
    background-image: url("/img/pieces/wK.svg");
}
cb-piece.white.queen {
    background-image: url("/img/pieces/wQ.svg");
}
cb-piece.white.rook {
    background-image: url("/img/pieces/wR.svg");
}
cb-piece.white.bishop {
    background-image: url("/img/pieces/wB.svg");
}
cb-piece.white.knight {
    background-image: url("/img/pieces/wN.svg");
}
cb-piece.white.pawn {
    background-image: url("/img/pieces/wP.svg");
}
cb-piece.black.king {
    background-image: url("/img/pieces/bK.svg");
}
cb-piece.black.queen {
    background-image: url("/img/pieces/bQ.svg");
}
cb-piece.black.rook {
    background-image: url("/img/pieces/bR.svg");
}
cb-piece.black.bishop {
    background-image: url("/img/pieces/bB.svg");
}
cb-piece.black.knight {
    background-image: url("/img/pieces/bN.svg");
}
cb-piece.black.pawn {
    background-image: url("/img/pieces/bP.svg");
}

cb-promo {
    display: inline-block;
    border: 1px solid #404040;
    position: absolute;
    background: rgba(250,250,250,0.7);
    z-index: 2;
    width: 480px;
    height: 480px;
}
cb-promo cb-square {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    background-color: #b0b0b0;
    box-shadow: inset 0 0 25px 3px #808080;
    box-sizing: border-box;
    transition: 0.2s;
}
cb-promo cb-square cb-piece {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(0.8);
}
cb-promo cb-square:hover {
    box-shadow: inset 0 0 48px 8px #d85000;
    border-radius: 0%;
}
cb-promo cb-square:hover cb-piece {
    transform: none;
}
